* {
  margin:0;
  padding:0;
  border: 0 solid #ddd;
}
body {
  font:200 0.625em/1.85em 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica;
}
.container:after{content:"";display:block;height:0;clear:both;visibility:hidden}

hr {
  border-bottom-width:1px;
}

button {
  background-color:#fff;
  border-radius:1em;
  padding:0.25em 0.5em;
  cursor:pointer;
  margin:0.125em;
}
ol, ul {
  padding-left:3em;
}
.column {
  float:left;
  box-sizing: content-box
}
._1 {
  width:10%;
}
._2 {
  width:20%;
}
._25 {
  width:25%;
}
._3 {
  width:30%;
}
._4 {
  width:40%;
}
._5 {
  width:50%;
}


pre {
  font-family:Inconsolata, 'Courier New';
}

h1 {
  font-family:'Century Schoolbook', Century, Times;
  font-size:5em;
  margin:0.5em;
  font-style:italic;

}
.error {
  color:red;
  line-height:1em;
  white-space: pre;
  
  font-size:0.75em !important;
}
#help {
  font-size:1.25em;
  margin:0 1em;
}
summary:focus {
  outline:none;
}
summary {
  cursor:pointer;
}
dt {
  font-weight:800;
}
dd {
  text-style:italic;
  margin:0 0.5em;
}

#toolbar {
  position:relative;
  background-color:#333;
  box-shadow:0 0.125em 1em 0 rgba(0,0,0,0.05);
}

#toolbar *:not(.menu) {
  color:#fff;
}

#notebook {
  padding:50px 0;overflow:auto;
  outline:1px solid #f8f8f8;
  box-shadow:inset 0 0.25em 2em rgba(0,0,0,0.1);
  background:#fff url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' ><line x1='1' y1='0' x2='1' y2='10' stroke='#FDA1A8' fill='none'/></svg>") repeat-y 9% 0;
}

textarea:focus {
  outline:none;
  box-shadow:0 0 5em rgba(255,255,0, 0.1);
  background-color:rgba(255,255,0, 0.03) !important;
}
textarea {
  line-height:1.75em;
  font-size:1.65em;
  padding:5px 5% 5px 10%;
  width:85%;
  height:250em;
  font-family:'Century Schoolbook', Century, Times;
  border:none;
  background-attachment: scroll !important;
}
#preview p span {
  border-radius:0.25em;
  padding:0 0.25em;
}

#network {
  clear:left;
  position:fixed;
  height:100px;
  width:100%;
  bottom:0;
  padding-bottom:1em;
  background-color:#fff;
  box-shadow:0 -0.25em 0.25em rgba(0,0,0,0.1), inset 0 -0.25em 0.25em rgba(0,0,0,0.5);
}
#network:hover {
  height:auto;
  min-height:100px;
}
#network:hover li {
  opacity:1;
}
#network ul {
  padding:0;
  list-style: none;
}


#network div {
  padding:0.5%;
}
#network div:not(:first-child){
  border-left:1px dotted #ddd;
}

#network h2 {
  margin:0.5em;
  text-transform:capitalize;
}
#network li {
  opacity:0.2;
  line-height:1em;
  cursor:pointer;
  display:inline-block;
  border-radius:0.25em;
  padding:0.25em 0.5em 0.35em;
  margin:0.25em;
}


blockquote {
  margin: 1em;
  font-style:italic;
  font-family:serif;
}


#tagger span {
  font-size:2em;
  background-color:#f8f8f8;
  display:block;
  margin:0.25em;
  text-align:center;
}


#tagger span code {
  opacity:0.2;
  display:block;
  padding:0.25em;
  text-align:left;
}
#tagger ul {
  margin:1.5%;
  padding:0;
  list-style:none;
}

#tagger ul li {
  margin:0 0.5% 0.25em;
  width:30%;
  float:left;
  border-radius:0.25em;
  padding:0 1%;
  font-size:1.25em;
}

#tagger ul.graph li:not(.full) {
  width:auto;
  font-size:1em;
  position:relative;
  top:-0.5em;
}

#tagger li.full {
  clear:both;
  float:none !important;
  text-align:right;
  width:100% !important;
  margin:1.5em 0 -1.5em;
  padding:0.5em 0;
}

#tagger li.full:not(:first-child) {
  box-shadow:-0.125em -0.125em 0.5em rgba(0,0,0,0.1);
}
/* radio buttons */

input[type="checkbox"],input[type="checkbox"] + label:hover,input[type="radio"] + label:hover {
    cursor: pointer;
    text-shadow:0 0 1em #fff;
  }

  input[type="checkbox"] + label,input[type="radio"] + label {
    display: inline;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    line-height: 1.5em !important;
    color: #333;
  }
  
  input[type="checkbox"]:not([class]),input[type="radio"]:not([class]) {
    display: none;
    margin: 0;
    font-size:1.25em  }
  input[type="checkbox"]:not([class]) + label:before,input[type="radio"]:not([class]) + label:before {
    content: '';
    line-height: 1.25em;
    display: inline-block;
    font-weight: 200 !important;
    color: #333;
  }
  input[type="radio"]:not([class]) + label:before {
    content: '';
  }
  
  input[type="radio"]:checked + label {
    cursor: default;
  }
  input[type="checkbox"]:checked + label:hover:before {
    content: '\2013';
    opacity: 1;
    color: #000;
  }
  input[type="radio"]:not([class]):checked + label:before {
    content: '\25CF';
    opacity: 1;
  }
  input[type="checkbox"] + label:hover:before,input[type="radio"] + label:hover:before {
    opacity: 1;
  }
  
  input[type="checkbox"]:checked + label,input[type="radio"]:checked + label {
    font-weight: 600;
    opacity:1;
    color:#333;

  }
  input[type="checkbox"]:not([class]):checked + label:before,input[type="radio"]:not([class]):checked + label:before {
    content: '\2713';
    font-size: 0.9em;
    color: #000;
  }
  input[type="checkbox"]:checked + label:hover,input[type="radio"]:checked + label:hover {
    color: #333;
  }




  .album {
    background-color:#FDA7A4 !important;
  }
  .artist {
    background-color:#D8ABDA !important;
  }
  .name {
    background-color:#C6E19B !important;
  }
  .era {
    background-color:#FBFFB6 !important;
  }
  .label {
    background-color:#C4C2FD !important;
  }
  .track {
    background-color:#FEDAB2 !important;
  }
  .genre {
    background-color:#A9F394 !important;
  }
  .place {
    background-color:#A3D1CA !important;
  }
  .tag {
    background-color:#eee !important;
  }