* {
  margin:0;
  padding:0;
  border: 0 solid #ddd;
}
body {
  font:200 0.625em/1.85em 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica;
}
.container:after{content:"";display:block;height:0;clear:both;visibility:hidden}

hr {
  border-bottom-width:1px;
}

button {
  background-color:#fff;
  border-radius:1em;
  padding:0.25em 0.5em;
  color:#333 !important;
  cursor:pointer;
  margin:0.125em;
}
ol, ul {
  padding-left:3em;
}
.column {
  float:left;
  box-sizing: content-box
}
._1 {
  width:10%;
}
._2 {
  width:20%;
}
._3 {
  width:30%;
}
._4 {
  width:40%;
}
._5 {
  width:50%;
}


pre {
  font-family:Inconsolata, 'Courier New';
}

h1 {
  font-family:'Century Schoolbook', Century, Times;
  font-size:5em;
  margin:0.5em;
  font-style:italic;

}
.error {
  color:red;
}
#help {
  font-size:1.25em;
  margin:0 1em;
}
summary:focus {
  outline:none;
}
summary {
  cursor:pointer;
}
dt {
  font-weight:800;
}
dd {
  text-style:italic;
  margin:0 0.5em;
}

#toolbar {
  position:relative;
  background-color:#333;
  box-shadow:0 0.125em 1em 0 rgba(0,0,0,0.05);
}

#toolbar * {
  color:#fff;
}

#notebook {
  padding:50px 0;overflow:auto;
  outline:1px solid #f8f8f8;
  box-shadow:inset 0 0.25em 2em rgba(0,0,0,0.1);
  background:#fff url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' ><line x1='1' y1='0' x2='1' y2='10' stroke='#FDA1A8' fill='none'/></svg>") repeat-y 9% 0;
}

textarea:focus {
  outline:none;
  box-shadow:0 0 5em rgba(255,255,0, 0.1);
  background-color:rgba(255,255,0, 0.03) !important;
}
textarea {
  line-height:1.75em;
  font-size:1.65em;
  padding:5px 5% 5px 10%;
  width:85%;
  height:200em;
  font-family:'Century Schoolbook', Century, Times;
  border:none;
  background-attachment: scroll !important;
}
#preview p span {
  border-radius:0.25em;
  padding:0 0.25em;
}

#network {
  clear:left;
  box-shadow:0 -0.25em 0.25em rgba(0,0,0,0.1);

  position:relative;
}
#network > ul {
  padding:0.5%;
  
  list-style: none;
}

#network ul:not(:first-child){
  border-left:1px dotted #ddd;
}

#network h2 {
  margin:0.5em;
  text-transform:capitalize;
}
#network li[class] {
  line-height:1em;
  display:inline-block;
  border-radius:0.25em;
  padding:0.25em 0.5em 0.35em;
  margin:0.25em;
}


.album {
  background-color:rgba(255,0,0,0.3);
}
.artist {
  background-color:rgba(255,0,255,0.3);
}
.name {
  background-color:rgba(0,255,0,0.3);
}
.era {
  background-color:rgba(255,255,0,0.3);
}
.label {
  background-color:rgba(0,0,255,0.3);
}
.track {
  background-color:rgba(0,255,255,0.3);
}
.genre {
  background-color:rgba(0,0,0,0.3);
}
.place {
  background-color:rgba(130,3,110,0.3);
}
.tag {
  background-color:#eee;
}
._1 {
  color:#555;
}

blockquote {
  margin: 1em;
  font-style:italic;
  font-family:serif;
}