* {
  margin:0;
  padding:0;
}
body {
  margin:1em;
  font:200 0.625em/1.85em 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica;
}


ol, ul {
  padding-left:3em;
}

p {
  font-size:0.5em;
  line-height:1.5em;
  text-indent:1em;
  
}

img {
  width:95%;
}

pre {
  font-family:Inconsolata, 'Courier New';
}


h2, h3 {
  margin:0.5em 0;
  font-size:1.25em;
  font-weight:200;
  border-bottom:1px solid #eee;
}

h3 {
  font-size:1em;
  margin:inherit 1em;
}

h1 {
  font-size:1.5em;
  margin:0.5em 0;
  padding:0.25em;
  text-align:center;
  border:3px double #eee;
}

p span {
  border-radius:0.25em;
}
.timestamp {
  display:none;
}
body.highlighted .timestamp {
  color:green;
  display:inline;
  font-size:0.9em;
  margin:0;
  padding:0;
  vertical-align:top;
  cursor:pointer;
  outline:1px solid #eee;
}

table {
  width:100%;
  border-collapse:collapse;
  margin:1em 0;
}
button {
  margin:1em auto;
}
thead tr {
  background-color:#eee;
}
td {
  border:1px solid #f8f8f8;
  padding:0.25em 0.5em;
}

body.highlighted .album {
  background-color:#FDA7A4;
}
body.highlighted .artist {
  background-color:#D8ABDA;
}
body.highlighted .name {
  background-color:#C6E19B;
}
body.highlighted .era {
  background-color:#FBFFB6;
}
body.highlighted .label {
  background-color:#C4C2FD;
}
body.highlighted .track {
  background-color:#FEDAB2;
}
body.highlighted .genre {
  background-color:#A9F394;
}
body.highlighted .place {
  background-color:#A3D1CA;
}
body.highlighted .tag {
  background-color:#eee;
}

blockquote:before {
  content:'“';
  font-size:3em;
  display:block;
  line-height:0;
  margin:0.5em 0 0 -0.5em;
  vertical-align:bottom;
}
blockquote:after {
  content:'”';
  font-size:3em;
  margin:0.5em 0 0 -0.5em;
  line-height:0;
  vertical-align:top;
  display:block;
}
blockquote {
  margin: 1em 1em 1em 2em;
  font-style:italic;
  font-family:serif;
}