* {
  margin:0;
  padding:0;
}
body {
  margin:1em;
  font:200 0.625em/1.85em 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica;
}


ol, ul {
  padding-left:3em;
}

p {
  margin:1em 0;
  font-size:1.25em;
  text-indent:1em;
}

img {
  width:50%;
}

pre {
  font-family:Inconsolata, 'Courier New';
}

h1, h2, h3 {
  margin:0.5em 0;
}
p span {
  border-radius:0.25em;
  padding:0 0.25em;
}
.timestamp {
  display:none;
}
body.highlighted .timestamp {
  color:green;
  display:inline;
}

body.highlighted .album {
  background-color:rgba(255,0,0,0.3);
}
body.highlighted .artist {
  background-color:rgba(255,0,255,0.3);
}
body.highlighted .name {
  background-color:rgba(0,255,0,0.3);
}
body.highlighted .era {
  background-color:rgba(255,255,0,0.3);
}
body.highlighted .label {
  background-color:rgba(0,0,255,0.3);
}
body.highlighted .track {
  background-color:rgba(0,255,255,0.3);
}
body.highlighted .genre {
  background-color:rgba(0,0,0,0.3);
}
body.highlighted .place {
  background-color:rgba(130,3,110,0.3);
}
body.highlighted .tag {
  border:1px solid #25B3D3;
}


blockquote {
  margin: 1em;
  font-style:italic;
  font-family:serif;
}